.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .navRight {
    display: flex;
    justify-content: space-around;
    .header-notification{
      font-size: 16px;
    }
    .header-profile {
      font-size: 16px;
      margin: 0px 20px;
      .ant-space{
        .ant-space-item{
          color: black;
        }
        .ant-space-item:hover{
          color: blue
        }
      }
    }
  }
}
