.second-modal-livestock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .specific-animal {
    overflow: hidden;
    border-radius: 10px;
    button {
      padding: 20px 20px;
      background-color: #2c6e49;
      transition: 0.4s ease-in-out;
      border: 1px solid #2c6e49;
      cursor: pointer;
      .button-item {
        display: flex;
        .button-icon {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            font-size: 50px;
            color: #fefee3;
          }
        }
        .button-text {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: #fefee3;
          h6 {
            font-size: 24px;
          }
          span {
            color: #e6e8e6;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
    button:hover {
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
      opacity: 0.75;
    }
  }
  .whole-barn {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
    button {
      padding: 20px 20px;
      background-color: #2c6e49;
      transition: 0.4s ease-in-out;
      border: 1px solid #2c6e49;
      cursor: pointer;
      .button-item {
        display: flex;
        .button-icon {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            font-size: 50px;
            color: #fefee3;
            margin-right: 13px;
          }
        }
        .button-text {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: #fefee3;
          h6 {
            font-size: 24px;
          }
          span {
            color: #e6e8e6;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
    button:hover {
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
      opacity: 0.75;
    }
  }
}

.second-modal-planting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .specific-plant {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #2c6e49;
    button {
      padding: 20px 15px;
      border-radius: 10px;
      background-color: #fefee3;
      transition: 0.4s ease-in-out;
      border: 0;
      cursor: pointer;
      .button-item {
        display: flex;
        .button-icon {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            font-size: 50px;
            color: #2c6e49;
          }
        }
        .button-text {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: #2c6e49;
          h6 {
            font-size: 24px;
          }
          span {
            color: #4c956c;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
    button:hover {
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
      opacity: 0.75;
    }
  }
  .whole-garden {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #2c6e49;
    button {
      padding: 20px 30px;
      border-radius: 10px;
      background-color: #fefee3;
      transition: 0.4s ease-in-out;
      border: 0;
      cursor: pointer;
      .button-item {
        display: flex;
        .button-icon {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            font-size: 50px;
            color: #2c6e49;
            margin-right: 13px;
          }
        }
        .button-text {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: #2c6e49;
          h6 {
            font-size: 24px;
          }
          span {
            color: #4c956c;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
    button:hover {
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
      opacity: 0.75;
    }
  }
}
