.list {
  width: 100%;
  .list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .menu-icon {
    font-size: 20px; 
    color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

.task-name{
  cursor: pointer;
}
.task-name:hover{
  text-decoration: underline;
  color: #007bff;
  opacity: 0.8;
}

.high-priority{
  color: #f3722c;
}

.medium-priority{
  color: #f9c74f;
}