$mobile-sm-width: 480px; 
$mobile-width: 792px;
$tablet-width: 992px; 
$desktop-width: 1024px;
$desktop-xl-width: 1200px;

@mixin mobile-sm { @media (max-width: #{$mobile-sm-width - 1px}) {     
  @content;   
 } 
} 

@mixin mobile { @media (max-width: #{$mobile-width}) {     
  @content;   
 } 
}


@mixin tablet { @media (max-width: #{$tablet-width}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (max-width: #{$desktop-width}) {     
  @content;  
 } 
}
@mixin desktop-xl {   @media (max-width: #{$desktop-xl-width}) {     
  @content;  
 } 
}

// ---------------------------------------------------------------------------

$color-primary: #1677ff;

$green-color-400: #8EAD48;
$green-box-shadow-400: rgba(142, 173, 72,0.4);
$green-color-500: #bfffc7;
$green-color-600: #004b23;
$green-color-700: #38b000;

$white-color-300: #f4f0bb;

// ---------------------------------------------------------------------------

@mixin flex($direction: row, $content: null, $items: null, $wrap: null){
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
}

@mixin dashboard-circle-box {
  width: 55px;
  height: 55px;
  @include flex(row, center, center, null);
  border-radius: 50%;
  @include desktop-xl{
    width: 45px;
    height: 45px;
  }
}

@mixin svg-dashboard{
  svg {
    width: 21px;
    height: 21px;
    
    path {
      fill: white;
      stroke: white;
    }
  }
}