$mobile-sm-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 992px; 

@mixin mobile-sm { @media (max-width: #{$mobile-sm-width - 1px}) {     
  @content;   
 } 
} 

@mixin mobile { @media (min-width: #{$mobile-sm-width}) and (max-width: #{$tablet-width - 1}) {     
  @content;   
 } 
}

@mixin tablet { @media (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

// ---------------------------------------------------------------------------

$green-color-400: #8EAD48;
$green-box-shadow-400: rgba(142, 173, 72,0.4);
$green-color-500: #bfffc7;
$green-color-600: #2c6e49;
$green-color-700: #38b000;

$white-color-300: #fefee3;

// ---------------------------------------------------------------------------

@mixin flex($direction: row, $content: null, $items: null, $wrap: null){
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  flex-wrap: $wrap;
}