.sider{
  @media (min-width: 992px) {
    .sideBar {
      display: block; 
    }
    .drawer{
      display: none
    }
  }
  
  @media (max-width: 992px) {
    .sideBar {
      display: none; 
    }
    .drawer{
      display: block;
    }
  }
}
