.plant-content {
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .plant-operate {
    display: flex;
    justify-content: space-between;
    .plant-operate-left {
      display: flex;
      gap: 15px;
    }
    .plant-operate-right {
      margin-left: auto;
      width: 300px;
    }
  }
}
