.ant-modal{
  top: 24px;
  .ant-modal-title{
    font-size: 20px;
  }
  .ant-modal-content {
    height: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .ant-modal-body {
      flex-grow: 1;
      overflow-y: auto;
      .form-task {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        .form-left {
          width: 70%;
          padding-right: 20px;
          .description {
            .ql-editor {
              min-height: 150px;
            }
          }
        }
        .form-right {
          width: 30%;
        }
      }
    }
  }
  
}
