@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
body {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

p {
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 115.2rem;
  padding: auto 3.2rem;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.content {
  padding: 20px;
  width: 100%;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
.navBar .navLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.navBar .navLeft .logo {
  width: 20%;
}
.navBar .navLeft .logo img {
  width: 100%;
}
.navBar .navRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.navBar .navRight .profile {
  font-size: 16px;
}

.sideBar {
  box-shadow: 3px 0px 2px 0 rgba(94, 98, 105, 0.2);
  height: 90vh;
}

.content h3 {
  font-size: 24px;
}

.ant-modal {
  top: 20px;
}
.ant-modal .ant-modal-title {
  font-size: 24px;
}

.list {
  width: 100%;
}
.list .list-header {
  display: flex;
  justify-content: space-between;
}
.list .to-do-list {
  padding-top: 15px;
}
.list .to-do-list .table {
  width: 100%;
  max-width: 100%;
}
.list .to-do-list .table thead th {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  color: #393f44;
  padding: 10px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  background: #fff;
  text-align: left;
}
.list .to-do-list .table tbody td {
  padding: 10px;
  min-height: 36px;
  vertical-align: middle;
}
.list .to-do-list .table tbody .task-color {
  width: 2px;
  padding: 0;
}
.list .to-do-list .table tbody .task-complete-icon svg {
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;
  color: #e3e3e3;
}
.list .to-do-list .table tbody .main-col {
  min-width: 350px;
}
.list .to-do-list .table tbody .main-col .sub-text {
  color: #393f44;
  font-size: 0.7em;
}
.list .to-do-list .table tbody .show-print .priority {
  font-weight: normal;
  padding: 3px 6px;
  border-radius: 12px;
  font-size: 65%;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #f0ad4e;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.list .to-do-list .table tbody .grid-actions svg {
  color: #393f44;
}

.first-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-modal .livestock button {
  font-size: 30px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #2a4870;
  border: 1px solid white;
  box-shadow: 0 0 0 3em #2a4870 inset;
  transition: all 400ms ease;
  cursor: pointer;
}
.first-modal .livestock button .button-item {
  display: flex;
}
.first-modal .livestock button .button-item .button-icon {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-modal .livestock button .button-item .button-icon svg {
  font-size: 50px;
  color: #d4a276;
}
.first-modal .livestock button .button-item .button-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
.first-modal .livestock button .button-item .button-text h6 {
  font-size: 24px;
}
.first-modal .livestock button .button-item .button-text span {
  color: #ced4da;
  font-size: 14px;
  text-align: left;
}
.first-modal .livestock button:hover {
  box-shadow: 0 0 0 1px #333533 inset;
  background-color: transparent;
  border: 1px solid #333533;
  transition: all 400ms ease;
}
.first-modal .livestock button:hover .button-text {
  color: #333533;
}
.first-modal .livestock button:hover .button-text span {
  color: #333533;
}
.first-modal .planting button {
  font-size: 30px;
  padding: 20px 25px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #054a29;
  border: 1px solid white;
  box-shadow: 0 0 0 3em #054a29 inset;
  transition: all 400ms ease;
  cursor: pointer;
}
.first-modal .planting button .button-item {
  display: flex;
}
.first-modal .planting button .button-item .button-icon {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-modal .planting button .button-item .button-icon svg {
  font-size: 50px;
  color: #3fa34d;
}
.first-modal .planting button .button-item .button-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
.first-modal .planting button .button-item .button-text h6 {
  font-size: 24px;
}
.first-modal .planting button .button-item .button-text span {
  color: #ced4da;
  font-size: 14px;
  text-align: left;
}
.first-modal .planting button:hover {
  box-shadow: 0 0 0 1px #333533 inset;
  background-color: transparent;
  border: 1px solid #333533;
  transition: all 400ms ease;
}
.first-modal .planting button:hover .button-text {
  color: #333533;
}
.first-modal .planting button:hover .button-text span {
  color: #333533;
}

.second-modal-planting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-modal-planting .specific-plant button {
  font-size: 30px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #054a29;
  border: 1px solid white;
  box-shadow: 0 0 0 3em #054a29 inset;
  transition: all 400ms ease;
  cursor: pointer;
}
.second-modal-planting .specific-plant button .button-item {
  display: flex;
}
.second-modal-planting .specific-plant button .button-item .button-icon {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-modal-planting .specific-plant button .button-item .button-icon svg {
  font-size: 50px;
  color: #3fa34d;
}
.second-modal-planting .specific-plant button .button-item .button-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
.second-modal-planting .specific-plant button .button-item .button-text h6 {
  font-size: 24px;
}
.second-modal-planting .specific-plant button .button-item .button-text span {
  color: #ced4da;
  font-size: 14px;
  text-align: left;
}
.second-modal-planting .specific-plant button:hover {
  box-shadow: 0 0 0 1px #333533 inset;
  background-color: transparent;
  border: 1px solid #333533;
  transition: all 400ms ease;
}
.second-modal-planting .specific-plant button:hover .button-text {
  color: #333533;
}
.second-modal-planting .specific-plant button:hover .button-text span {
  color: #333533;
}
.second-modal-planting .whole-garden button {
  font-size: 30px;
  padding: 20px 35px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #054a29;
  border: 1px solid white;
  box-shadow: 0 0 0 3em #054a29 inset;
  transition: all 400ms ease;
  cursor: pointer;
}
.second-modal-planting .whole-garden button .button-item {
  display: flex;
}
.second-modal-planting .whole-garden button .button-item .button-icon {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-modal-planting .whole-garden button .button-item .button-icon svg {
  font-size: 50px;
  color: #3fa34d;
  margin-right: 13px;
}
.second-modal-planting .whole-garden button .button-item .button-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
.second-modal-planting .whole-garden button .button-item .button-text h6 {
  font-size: 24px;
}
.second-modal-planting .whole-garden button .button-item .button-text span {
  color: #ced4da;
  font-size: 14px;
  text-align: left;
}
.second-modal-planting .whole-garden button:hover {
  box-shadow: 0 0 0 1px #333533 inset;
  background-color: transparent;
  border: 1px solid #333533;
  transition: all 400ms ease;
}
.second-modal-planting .whole-garden button:hover .button-text {
  color: #333533;
}
.second-modal-planting .whole-garden button:hover .button-text span {
  color: #333533;
}

.second-modal-livestock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-modal-livestock .specific-animal button {
  font-size: 30px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #2a4870;
  border: 1px solid white;
  box-shadow: 0 0 0 3em #2a4870 inset;
  transition: all 400ms ease;
  cursor: pointer;
}
.second-modal-livestock .specific-animal button .button-item {
  display: flex;
}
.second-modal-livestock .specific-animal button .button-item .button-icon {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-modal-livestock .specific-animal button .button-item .button-icon svg {
  font-size: 50px;
  color: #d4a276;
}
.second-modal-livestock .specific-animal button .button-item .button-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
.second-modal-livestock .specific-animal button .button-item .button-text h6 {
  font-size: 24px;
}
.second-modal-livestock .specific-animal button .button-item .button-text span {
  color: #ced4da;
  font-size: 14px;
  text-align: left;
}
.second-modal-livestock .specific-animal button:hover {
  box-shadow: 0 0 0 1px #333533 inset;
  background-color: transparent;
  border: 1px solid #333533;
  transition: all 400ms ease;
}
.second-modal-livestock .specific-animal button:hover .button-text {
  color: #333533;
}
.second-modal-livestock .specific-animal button:hover .button-text span {
  color: #333533;
}
.second-modal-livestock .whole-barn button {
  font-size: 30px;
  padding: 20px 22px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #2a4870;
  border: 1px solid white;
  box-shadow: 0 0 0 3em #2a4870 inset;
  transition: all 400ms ease;
  cursor: pointer;
}
.second-modal-livestock .whole-barn button .button-item {
  display: flex;
}
.second-modal-livestock .whole-barn button .button-item .button-icon {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-modal-livestock .whole-barn button .button-item .button-icon svg {
  font-size: 50px;
  color: #d4a276;
  margin-right: 13px;
}
.second-modal-livestock .whole-barn button .button-item .button-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}
.second-modal-livestock .whole-barn button .button-item .button-text h6 {
  font-size: 24px;
}
.second-modal-livestock .whole-barn button .button-item .button-text span {
  color: #ced4da;
  font-size: 14px;
  text-align: left;
}
.second-modal-livestock .whole-barn button:hover {
  box-shadow: 0 0 0 1px #333533 inset;
  background-color: transparent;
  border: 1px solid #333533;
  transition: all 400ms ease;
}
.second-modal-livestock .whole-barn button:hover .button-text {
  color: #333533;
}
.second-modal-livestock .whole-barn button:hover .button-text span {
  color: #333533;
}

.task-specific-animal {
  display: flex;
  justify-content: space-around;
}
.task-specific-animal .form-left {
  width: 45%;
}
.task-specific-animal .form-right {
  width: 45%;
}
.task-specific-animal .form-right .description .ql-editor {
  min-height: 150px;
}

.task-whole-barn {
  display: flex;
  justify-content: space-around;
}
.task-whole-barn .form-left {
  width: 45%;
}
.task-whole-barn .form-right {
  width: 45%;
}
.task-whole-barn .form-right .description .ql-editor {
  min-height: 150px;
}

.task-specific-plant {
  display: flex;
  justify-content: space-around;
}
.task-specific-plant .form-left {
  width: 45%;
}
.task-specific-plant .form-right {
  width: 45%;
}
.task-specific-plant .form-right .description .ql-editor {
  min-height: 150px;
}

.task-whole-garden {
  display: flex;
  justify-content: space-around;
}
.task-whole-garden .form-left {
  width: 45%;
}
.task-whole-garden .form-right {
  width: 45%;
}
.task-whole-garden .form-right .description .ql-editor {
  min-height: 150px;
}

.animal-content h3 {
  font-size: 24px;
}

.animal-group-content h3 {
  font-size: 24px;
}

.plant-content h3 {
  font-size: 24px;
}/*# sourceMappingURL=index.css.map */